body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 500px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

#chatbox {
    height: 500px;
    padding: 20px 20px 0 20px;
    overflow-y: auto;
}

.input-container {
    border-top: 1px solid #e1e1e1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
    outline: none;
    transition: border 0.2s;
}

input:focus {
    border-color: #9fa8da;
}

button {
    background-color: #9fa8da;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #7985cb;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 80%;
}

.user-message {
    background-color: #e1e1e1;
    align-self: flex-end;
    order: 2;
}

.bot-message {
    background-color: #9fa8da;
    color: white;
}


/* 当屏幕宽度小于或等于600px时（例如手机） */
@media only screen and (max-width: 600px) {
    .chat-container {
        width: 100%;
        height: 100vh;  /* 设置高度为视口的100% */
        margin: 0;
        border-radius: 0;
    }

    .navbar {
        padding: 10px;
    }

    input, button {
        padding: 5px 10px;
    }

    .input-container {
        padding: 5px 10px;
    }
}


/* 当屏幕宽度大于600px时（例如桌面或平板） */
@media only screen and (min-width: 601px) {
    
    /* 增大聊天容器尺寸，增加外边距，使其居中 */
    .chat-container {
        max-width: 800px;
        height: 80vh;
        margin: 5% auto;
    }

    /* 增大导航条的高度和内边距 */
    .navbar {
        padding: 15px 30px;
    }

    /* 增大输入和按钮的尺寸，为文字输入和按钮提供更多空间 */
    input, button {
        padding: 12px 18px;
        font-size: 1.1em;
    }

    /* 增大输入容器的高度 */
    .input-container {
        padding: 12px 30px;
    }

    /* 增大消息文本的尺寸 */
    .message {
        font-size: 1.1em;
        padding: 12px 18px;
    }

    /* 导航链接间的间距增加 */
    .navbar a {
        margin: 0 15px;
        font-size: 1.1em;
    }
}
